//.container-fluid>.row 
  //  clear both

#content
    margin-top 30px
    border 1px solid #eee
    border-radius 3px
    background white 
    box-shadow 0px 2px 5px #ccc 
    padding 0px 
    overflow hidden

#header
    background #E03137 
    color white 
    margin 0px 
    height 100px
    line-height 90px

#header h1 
    display block
    line-height 90px 
    font-weight bold 
    font-size 30px 

#nav 
    padding 0px
    margin 0px 
    border 1px solid #eee 
    box-shadow 10px 2px 5px #ccc 
    background #FF636E
 
#nav ul 
    margin 0px
    list-style none 
    padding-left 15px

#nav ul li
    float left
    margin-right 30px 

#nav ul li a
    display block
    color white
    height 30px 
    line-height 30px
    padding-left 10px
    padding-right 10px
    transition all 400ms

#nav ul li a:hover
    text-decoration none 
    background #E03137

.activado 
    text-decoration none !important
    background #E03137 !important
    border-bottom 3px solid  white  !important

#main .jumbotron
    padding 50px
    margin-top 30px 
    border-radius 20px

#main .jumbotron a
    margin 5px
    padding 10px
    border-radius 20px

#footer
    margin-top 50px 
    padding-top 5px
    border-top 3px solid #eee 
    color gray 

#footer #subfooter a
    color: #555051

#form-producto label 
        margin-top 10px

.imagen_container
    width 100%
    overflow hidden
    
.producto_imagen
    width  100%
    height 200px
    margin 0px auto 
    display block 
    max-width 100%

.imagen_relleno
    background #cccccc
    width 100%
    height 200px