<div class="col-lg-12 col-lg-offset-1 text-center">
    <div class="jumbotron">
        <h3>{{titulo}}</h3>
        <p>Lista de Productos</p>
        <div *ngIf="!productos">
            Cargando Listado de Productos...
        </div>
        <div *ngIf="productos">
            <ul>
                <li *ngFor="let producto of productos">
                    <strong>{{producto.nombre}}</strong>
                    <p>{{producto.descripcion}}</p>
                    <p>{{producto.precio}}</p>
                </li>
            </ul>
        </div>
    </div>    
</div>