<div class="col-lg-12 col-lg-offset-1">
    <div class="jumbotron">
        <div class="text-center">
            <h3>{{titulo}}</h3>
        </div>
        <br>
        <div *ngIf="!productos">
            Cargando Listado de Productos...
        </div>

        <div *ngIf="productos">
            <div class="row">
                <div class="col-lg-3" *ngFor="let producto of productos">
                    <div class="thumbnail">
                        <div *ngIf="producto.imagen" class="imagen_container">
                            <img src="http://localhost:8080/projects/Productos_Api_Rest/uploads/{{producto.imagen}}"
                                alt="" class="producto_imagen">
                        </div>
                        <div *ngIf="!producto.imagen">
                            <div class="imagen_relleno"></div>
                        </div>
                        <div class="caption">
                            <h3>{{producto.nombre}}</h3>
                            <p>$ {{producto.precio}} MXN</p>
                            <p>
                                <a [routerLink]="['/producto', producto.id]" class="btn btn-outline-info ">Ver</a>
                                <a [routerLink]="['/editar-producto', producto.id]" class="btn btn-outline-warning">Editar</a>
                                <a href="" class="btn btn-outline-danger">Borrar</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>